.page {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  font-size: 25px;
  overscroll-behavior-y: none;
}

.page__body {
  margin: 0;
}

.main-title-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
  padding: 0 25px;
  scroll-snap-align: start;

  background-image: url('../img/content/Main-BG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #fff;
}

.main-title-page__title,
.section__title {
  margin: 0 0 15px;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}

.main-title-page__subtitle,
.section__subtitle {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.header,
.footer {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  align-items: end;
  justify-content: space-between;
  gap: 250px;
  font-size: 0.9rem;
  line-height: 2;
}

.footer {
  scroll-snap-align: start;
  padding: 5vh 50px 15vh;
}

.footer,
.footer .nav__link,
.footer .contacts__link {
  color: #555;
}

.nav {
  width: calc(100% + 10px);
  display: flex;
  flex-direction: column;
}

.nav__link,
.contacts__link {
  position: relative;
  display: block;
  width: max-content;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  transition: 0.3s;
  font-weight: 500;
  outline: none;
}

.contacts__link--underlined::after,
.nav__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: 0.3s;
}

.contacts__link:hover,
.nav__link:hover {
  font-weight: 600;
}

.contacts__link--underlined:hover::after,
.nav__link:hover::after {
  transform: translateX(102%);
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__logo {
  display: block;
  height: 1em;
}

.contacts__link {
  font-weight: 400;
}

.contacts__link--underlined::after {
  bottom: 20%;
}

.section__slide--title-page {
  padding: 0 10px;
}

.section__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: end;
  height: 100vh;
}

.section__slide:nth-child(1),
.section__slide:nth-child(2),
.section__slide:nth-child(3) {
  scroll-snap-align: start;
}

.section__slide-pic {
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.section__slide-pic--after {
  display: none;
}

.show-after-pics .section__slide-pic--after {
  display: block;
}

.show-after-pics .section__slide-pic--before {
  display: none;
}

.page__button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
  pointer-events: none;
  cursor: pointer;
}

.page__button svg {
  transform: rotate(90deg);
  width: 60%;
}

.page__button.visible {
  opacity: 1;
  pointer-events: all;
}

.page__button.hover {
  opacity: 0.8;
}

@media (max-width: 1450px) {
  .page {
    font-size: 20px;
  }
  .header,
  .footer {
    gap: 50px;
  }
}

@media (max-width: 1300px) {
  .page {
    font-size: 16px;
  }

  .main-title-page {
    background-position: 40%;
    gap: 25px;
  }

  .header,
  .footer {
    grid-template-columns: repeat(2, 430px);
  }
}

@media (max-width: 1024px) {
  .page {
    font-size: 14px;
  }

  .header,
  .footer {
    grid-template-columns: repeat(2, 360px);
    gap: 20px;
  }

  .footer {
    padding: 70px 20px;
  }
}

@media (max-width: 768px) {
  .page {
    /* font-size: 12px; */
    scroll-snap-type: none;
  }

  .main-title-page {
    min-height: 600px;
    height: auto;
    gap: 20px;
  }

  .header,
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 1rem;
  }

  .nav,
  .contacts {
    text-align: center;
    align-items: center;
  }

  .nav__title {
    margin: 0.3rem 0;
  }

  .nav__link::after,
  .contacts__link--underlined::after {
    height: 1px;
  }

  .section__slide {
    height: auto;
    padding: 0 0 10px;
  }

  .section__slide--title-page {
    padding: 10px;
    min-height: 350px;
  }
}

@media (max-width: 380px) {
  .main-title-page {
    gap: 20px;
  }

  .header,
  .footer {
    gap: 20px;
  }
}
