.breadcrumbs {
  padding-top: 50px;

  @include vp-1280 {
    padding-top: 25px;
  }
}

.breadcrumbs__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs__item {
  font-size: 12px;
  line-height: 15px;
  color: $color-dark-grey;

  &::after {
    content: "/";
    margin: 0 10px;
  }
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  position: relative;
  overflow: hidden;
  transition: $trans-default;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-black;
    transform: scaleX(0);
    transform-origin: center;
    transition: $trans-default;
  }

  &:hover,
  &:focus-visible {
    outline: none;
    color: $color-default-black;

    &::after {
      transform: scaleX(1);
    }
  }

  &--active {
    color: $color-default-black;

    &::after {
      display: none;
    }
  }
}
