.goods {
  @include vp-768 {
    margin-top: 32px;
  }
}

.goods__total {
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 22px;

  @include vp-768 {
    font-size: 24px;
    line-height: 30px;
    max-width: 190px;
    margin-bottom: 17px;
  }
}

.goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods__item {
  border-bottom: 0.5px solid $color-basic-grey;
  padding: 25px 0;

  &:first-child {
    border-top: 0.5px solid $color-basic-grey;
  }

  @include vp-768 {
    padding: 16px 0;
  }
}
