.page-header {
  border-bottom: 0.5px solid $color-basic-grey;
  background-color: $color-default-white;
  position: relative;
  z-index: 2;

  @include vp-1000 {
    border: none;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  z-index: 6;

  @include vp-1000 {
    min-height: 52px;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  @include vp-1000 {
    position: static;
    transform: none;
  }
}

.page-header__logo-link {
  padding: 10px;

  & svg {
    transition: $trans-default;
  }

  @include vp-1000 {
    display: block;
    padding: 4px 0;
  }
}

.page-header__logo-link:hover,
.page-header__logo-link:focus-visible {
  outline: none;

  svg {
    color: $color-dark-grey;
  }
}

.page-header__buttons {
  display: flex;
}

.page-header__button {
  margin-left: 30px;
  display: block;
  transition: $trans-default;

  &:hover,
  &:focus {
    outline: none;
    color: $color-dark-grey;
  }

  @include vp-1000 {
    width: 28px;

    svg {
      width: 100%;
    }
  }
}

.page-header__button--favorite,
.page-header__button--bag {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(50%, -25%);
    background-color: $color-default-black;
    color: $color-default-white;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    transition: $trans-default;
  }

  &:hover::after,
  &:focus::after {
    background-color: $color-dark-grey;
  }
}

.page-header__button--favorite::after {
  content: "8";
}

.page-header__button--bag::after {
  content: "4";
}

.page-header__button--search,
.page-header__button--account,
.page-header__button--favorite {
  @include vp-768 {
    display: none;
  }
}

.page-header__button--menu {
  display: none;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: $color-transparent;
  position: relative;

  @include vp-1000 {
    width: 28px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    right: 0;
    height: 1.5px;
    background-color: $color-default-black;
    transition: $trans-default;
  }

  &::before {
    top: 0;
    width: 32px;
    transform-origin: top right;
    transform: translateY(13px);
  }

  &::after {
    bottom: 0;
    width: 18px;
    transform-origin: bottom right;
    transform: translateY(-8px);
  }

  @include vp-1000 {
    display: block;
  }
}

.page-header__button--menu:hover {
  &::before,
  &::after {
    background-color: $color-dark-grey;
  }
}

.page-header__button--menu.is-opened {
  &::before {
    width: 44px;
    transform: rotate(-45deg);
  }

  &::after {
    width: 44px;
    transform: rotate(45deg);
  }
}
