.total {
  padding: 5px 20px;
  border: 1px solid $color-dark-grey;
  height: fit-content;
  margin-bottom: 38px;

  @include vp-768 {
    padding: 9px 16px;
  }
}

.total__section {
  padding: 25px 0;
  border-bottom: 1px solid $color-basic-grey;

  @include vp-768 {
    padding: 16px 0;
  }

  &:last-child {
    border: none;
  }
}

.total__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px;

  @include vp-768 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 21px;
  }

  &:last-child {
    margin-bottom: -9px;
  }

  &--sub {
    margin-top: -15px;
    font-size: 16px;
    line-height: 21px;

    @include vp-768 {
      margin-top: -3px;
      font-size: 12px;
      line-height: 15px;
    }

    & .total__value {
      font-weight: 400;
    }
  }

  &--total {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;

    @include vp-768 {
      margin-bottom: 6px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.total__value {
  font-weight: 700;
  margin-left: auto;
  margin-right: 3px;

  &--discount,
  &--discount + .rouble {
    color: $color-error;
  }
}

.total__delivery-disclaimer {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: $color-dark-grey;
  margin: 5px 0 0;

  @include vp-768 {
    margin-top: 10px;
  }
}

.total__delivery-input {
  display: none;
}

.total__text--delivery {
  position: relative;
  width: 100%;
}

.total__delivery-input + .total__text::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 34px;
  height: 14px;
  background: $color-basic-grey;
  border-radius: 7px;
  opacity: 0.5;
}

.total__delivery-input + .total__text::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 18px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $color-dark-grey;
  transition: $trans-default;
}

.total__delivery-input:checked + .total__text::after {
  right: -7px;
  background-color: $color-default-black;
}

.total__promocode {
  display: block;
  position: relative;
  margin-bottom: 20px;

  @include vp-768 {
    margin-bottom: 13px;
  }
}

.total__promocode-label {
  display: block;
  position: absolute;
  top: 15px;
  left: 16px;
  padding: 0 4px;
  background-color: $color-default-white;
  color: $color-dark-grey;
  transform-origin: left;
  transition: $trans-default;

  @include vp-768 {
    top: 13px;
    left: 11px;
  }
}

.total__promocode-button {
  position: absolute;
  opacity: 0;
  right: 16px;
  top: 18px;
  padding: 0;
  padding-left: 5px;
  border: none;
  color: $color-default-black;
  font-weight: 700;
  transition: $trans-default;
  background-color: $color-default-white;

  @include vp-768 {
    top: 13px;
    right: 11px;
  }

  &:hover,
  &:focus {
    color: $color-dark-grey;
  }
}

.total__promocode-input {
  width: 100%;
  border: 1px solid $color-dark-grey;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 21px;

  &--valid {
    border-color: $color-success;
  }

  &--invalid {
    border-color: $color-error;
  }

  @include vp-768 {
    padding: 11px 16px;
  }

  &:focus {
    outline: none;
  }
}

.total__promocode-input:focus ~ .total__promocode-button {
  opacity: 1;
}

.total__promocode-input:focus + .total__promocode-label {
  transform: translateY(-25px) scale(0.75);
}

.total__promocode-message {
  display: none;
  font-size: 12px;
  line-height: 15px;
  margin: 3px 16px;
}

.total__promocode-input--valid ~ .total__promocode-message {
  display: inline;
  color: $color-success;
}

.total__promocode-input--invalid ~ .total__promocode-message {
  display: inline;
  color: $color-error;
}

.total__buy {
  width: 100%;
  border: none;
  padding: 15px;
  background-color: $color-default-black;
  color: $color-default-white;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  transition: $trans-default;

  &:hover,
  &:focus {
    background-color: $color-dark-grey;
  }

  &:disabled {
    background-color: $color-basic-grey;
  }
}

.total__disclaimer {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-grey;
  text-align: center;
}

.total__policy {
  color: $color-dark-grey;
  text-decoration: underline;
}
