// colors
// ---------------------------------

// default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-basic-grey: #c8c8c8;
$color-dark-grey: #6e6e6e;
$color-light-grey: #f1f1f1;
$color-error: #d92c2c;
$color-success: #007e06;
$color-blue: #106da1;
$color-brown: #ae6d0c;
$color-secondary-black: #444444;

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "arial", sans-serif;

$ff-helvetica:                    "Helvetica", "arial", sans-serif;

// Typography
// ---------------------------------

$shadow-default: 2px 2px 15px rgba(0, 0, 0, 0.1);

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1000:                           1000px;
$vp-1280:                           1280px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
